<div class="form-container">
  <div class="row">
    <div class="col-md-7 example-form">
      <form [formGroup]="passwordForm">
        <mat-form-field matPrefix matSuffix class="example-full-width" appearance="fill">
          <mat-label>Old password</mat-label>
          <input required type="text" matInput formControlName="oldPassword" placeholder="Enter your old password">
          <mat-error *ngIf="passwordForm.invalid">{{getOldPasswordErrorMessage()}}</mat-error>
        </mat-form-field>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7 example-form">
      <form [formGroup]="passwordForm">
        <mat-form-field matPrefix matSuffix class="example-full-width" appearance="fill">
          <mat-label>New password</mat-label>
          <input required type="text" matInput formControlName="newPassword" placeholder="Enter your new password">
          <mat-error *ngIf="passwordForm.invalid">{{getNewPasswordErrorMessage()}}</mat-error>
        </mat-form-field>
        <div class="button-container" >
          <button mat-stroked-button (click)="changePassword()" [disabled]="!passwordForm.valid">Change password</button>
        </div>
      </form>
    </div>
  </div>
</div>
