*{
  margin: 0;
  padding: 0;
}

.example-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto auto;
  margin-top: 20px;
}

img{
  width: 70px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  height: 70px;
}

p{
  margin-left: 10px;
}
