*{
  margin: 0;
  white-space: pre-wrap;
  overflow-y: hidden;
}

.image-container{
  width: 60vw;
  img{
    width: 100%;
  }
}

.navigate-button{
  transition: 400ms;
  border-radius: 50%;
  i{
    transition: 400ms;
  }
}

.navigate-button:hover{
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.shot-container{
  padding: 10px;
  height: 60vh;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.one-shot-component-container{
  width: 80vw;
  margin: 0 auto;
  background-color: rgba(255,255,255, 0.85);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.dropUpLikeIcon {
  border-radius: 50%;
  margin-bottom: 5px;
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 5;
}

.dropUpLike:hover .dropUpLikeIcon {
  opacity: 0.8;
  transition: 600ms;
  display: block;
}

.dropUpLikeContent {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

app-comments{
  margin: 0 auto;
}

@media screen and (max-width: 725px) {
  svg{
    width: 50%;
  }
}
