<div class="container-fluid container-of-shot">
  <div class="">
    <img [ngStyle]="{'opacity': prevShot ? 0.9 : 0.1}" class="arrow-container col-md-1" src="../../../assets/images/back.png"
         alt="left arrow" (click)="openPreviousShot()" >
    <img *ngIf="shotImageUrl" class="shot-image col-md-10"  [src]="shotImageUrl" alt="any">
    <img [ngStyle]="{'opacity': nextShot ? 0.9 : 0.1}" class="arrow-container col-md-1" src="../../../assets/images/right-arrow.png"
         alt="right arrow" (click)="openNextShot()">
  </div>
  <div class="dropUpLikeContent">
    <button mat-icon-button color="warn" (click)="sendLike(post._id)" class="dropUpLikeIcon">
      <mat-icon aria-label="like shot">favorite</mat-icon>
    </button>
  </div>
</div>

