*{
  margin: 0;
  //white-space: pre-wrap;
  //overflow-y: hidden;
}

.image-container {
  max-width: 600px;
}



.image-container img {
  width: 100%;
  height: 400px;
  object-fit: contain;
}

.navigate-button{
  transition: 400ms;
  border-radius: 50%;
  i{
    transition: 400ms;
  }
  margin: auto 0;
}

.navigate-button:hover{
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.shot-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 10px;
}


.one-shot-component-container{
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: 800px;
  background-color: rgba(255,255,255, 0.85);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.shot-header {
  display: flex;
  align-content: center;
  height: 40px;
}

.shot-information {
  margin-top: 10px;
  p {
    margin-bottom: 5px;
  }
}

.dropUpLikeIcon {
  border-radius: 50%;
  margin-bottom: 5px;
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 5;
}

.dropUpLike:hover .dropUpLikeIcon {
  opacity: 0.8;
  transition: 600ms;
  display: block;
}

.dropUpLikeContent {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hideButtons {
  display: none;
}

app-comments{
  margin: 0 auto;
}

@media screen and (max-width: 725px) {
  svg{
    width: 50%;
  }
}

@media (max-width: 930px) {
  .leftArrow {
    display: none;
  }
  .rightArrow {
    display: none;
  }

  .hideButtons {
    display: block;
  }

  .one-shot-component-container {
    flex-direction: column;
    text-align: center;
  }
}
