<div class="container-fluid">
  <app-navigation></app-navigation>
  <app-welcome-header></app-welcome-header>
</div>
<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-md-12">-->
<!--      <div class="row">-->
<!--        <div class="col-md-4"> <a href="">About</a>-->

<!--        </div>-->
<!--        <div class="col-md-4">-->
<!--          <img src="https://www.google.ca/images/srpr/logo11w.png" width="100px" />-->
<!--        </div>-->
<!--        <div class="col-md-4"> <a href="#myModal1" data-toggle="modal">SHARE</a>-->

<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
