img {
  width: 350px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.dropUpLikeIcon {
  border-radius: 50%;
}

.dropUpLikeIcon:hover {
  opacity: 1;
  transition: 800ms;
  background-color: #b0b5b545;
}
//
.dropUpLikeContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dropUpLike {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 350px;
  margin: 40px 20px 20px 20px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.allPosts {
  justify-content: center;
}

.userName {
  margin: auto 0;
  font-family: 'ProximaNova';
  font-size: 16px;
}
