<div class="row">
  <div class="col-md-4 user-info-container">
    <div class="user-container">
      <img src="https://klike.net/uploads/posts/2018-07/1532691638_2.jpg" alt="your avatar">
      <button mat-icon-button color="primary" routerLink="../account">
        <mat-icon aria-label="Edit user page">edit</mat-icon>
      </button>
      <div *ngIf="user" style="text-align: center">
        <p>{{user.firstName}}</p>
        <p>{{user.lastName}}</p>
        <p>{{user.location}}</p>
      </div>
    </div>
  </div>
  <div class="col-md-4 user-info-container" *ngFor="let post of posts">
    <div class="post-container">
      <img alt="some post" src="{{post.url}}">
    </div>
  </div>
</div>

