.user-container img{
  overflow: hidden;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.user-info-container{
  padding: 20px;
}

.user-container{
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-container{
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p{
  display: block;
  color: #666666;
}




