<div class="container-fluid">
  <form [formGroup]="loginForm">
    <mat-form-field>
      <input formControlName="login" matInput placeholder="login">
      <mat-error *ngIf="loginForm.invalid">{{getLoginErrorMessage()}}</mat-error>
    </mat-form-field>
    <br/>
    <mat-form-field >
      <input type="password" formControlName="password" matInput placeholder="Password">
      <mat-error *ngIf="loginForm.invalid">{{getPasswordErrorMessage()}}</mat-error>
    </mat-form-field>
    <br>
    <button  class="logInButton" mat-flat-button color="primary" [disabled]="!loginForm.valid" (click)="loginOneUser()">Send request</button>
  </form>
</div>
