.mat-form-field{
  border-radius: 5px;
  background-color: #CCCCCC;
  margin-bottom: 10px;
  padding: 5px;
  box-shadow: 0 0 30px rgba(0,0,0,1);
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px   #CCCCCC inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: black !important;
}

.signupButton {
  margin-top: 5px;
}
