* {
  margin: 0;
  padding: 0;
}

.example-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px 0;
}

.example-full-width {
  width: 100%;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto auto;
}

.center {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.save.mat-raised-button.mat-primary {
  background-color: sandybrown;
  margin-bottom: 10px;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  font-size: 1.1em;
  font-weight: 600;
  color: black;
  border-radius: 3px;
}


.inputfile + label {
  cursor: pointer; /* "hand" cursor */
}

.avatar {
  margin-top: 30px;
}

img {
  border-radius: 50%;
  max-height: 100px;
  max-width: 100px;
}
