.my-drop-zone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: dotted 3px lightgray;
  p {
    margin-top: 10px;
  }
}

.container-new-post{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.drop-zone-container{
  display: flex;
  justify-content: center;
  height: 65%;
}
.info-container{
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
.nv-file-over-class {
  background-color: #cacac880;
  border: dotted 3px black;
  transition: 400ms;
}
.row {
  display: flex;
  justify-content: center;
}

.buttons-container {
  margin: 20px auto;
}

.buttons-container button{
  margin: 0 10px;
}

.upload-image {
  max-width: 90%;
  max-height: 470px;
}
