<div class="container-fluid">
  <form [formGroup]="registerForm" >
    <mat-form-field hintLabel="Input unique login">
      <input  formControlName="login" matInput placeholder="Login" >
      <mat-error *ngIf="registerForm.invalid">{{getLoginErrorMessage()}}</mat-error>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <input formControlName="email" matInput placeholder="email">
      <mat-error *ngIf="registerForm.invalid">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field >
      <input type="password" formControlName="password" matInput placeholder="Password">
      <mat-error *ngIf="registerForm.invalid">{{getPasswordErrorMessage()}}</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input type="password" formControlName="confirmPassword" matInput placeholder="Confirm password">
      <mat-error *ngIf="registerForm.invalid">{{getConfPasswordErrorMessage()}}</mat-error>
    </mat-form-field>
    <br>
    <button  class="signinButton" mat-flat-button color="primary" [disabled]="!registerForm.valid" (click)="registerOneUser()">Send request</button>
  </form>
</div>
