<div class="row nav">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-3">
        <div class="dropdown">
          <button class="dropbtn">Menu</button>
          <div class="dropdown-content">
            <a href="#">menu 1</a>
            <a href="#">menu 1</a>
            <a href="#">menu 1</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="dropdown">
          <button class="dropbtn">Shot</button>
          <div class="dropdown-content">
            <a href="#">shot 1</a>
            <a href="#">shot 2</a>
            <a href="#">shot 3</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">4321</div>
      <div class="col-md-3">213213</div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-6">Sign In</div>
      <div class="col-md-6">Sign Up</div>
    </div>
  </div>
</div>
