<div class="row nav">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-1">
        <div class="dropdown">
          <button class="dropbtn">Menu</button>
          <div class="dropdown-content">
            <a href="#">menu 1</a>
            <a href="#">menu 1</a>
            <a href="#">menu 1</a>
          </div>
        </div>
      </div>
      <div class="col-md-1">
        <div class="dropdown">
          <button class="dropbtn">Shot</button>
          <div class="dropdown-content">
            <a href="#">shot 1</a>
            <a href="#">shot 2</a>
            <a href="#">shot 3</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2" *ngIf="!authService.isLoggedIn()">
    <button mat-raised-button color="accent" (click)="signInComponentInit()">Sign Up</button>
  </div>
  <div class="col-md-2" *ngIf="authService.isLoggedIn()">
    <button mat-raised-button color="accent" (click)="addNewPost()">Add post</button>
  </div>
  <div class="col-md-2" *ngIf="authService.isLoggedIn()">
    <button mat-raised-button color="accent" routerLink="/profile">User Profile</button>
  </div>
  <div class="col-md-2" *ngIf="authService.isLoggedIn()">
    <button mat-raised-button color="accent" (click)="logOut()">Log Out</button>
  </div>
</div>
