.customContainer{
  background-color: #FFBA40;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.cat-container{
  min-width: 50%;
}

.left-container{
  text-align: center;
}

.signinButton {
  box-shadow: 0 0 30px rgba(0,0,0,0.5);
  margin: 10px 0;
}
